@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

html {
  direction: ltr;
}

section {
  background: url('assets/bg.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

section .container {
  width: 650px;
  background-color: #332a224e;
  padding: 30px 25px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid #7d7d7d4e;
  margin-left: 15%;
}

section .top_sec{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .top_sec select {
  width: 250px;
  border-radius: 5px;
  outline: none;
  background: #a54f3a;
  padding: 2px 10px;
  color: #fff;
  font-size: 22px;
  margin-top: 10px;
}

section .top_sec h3 {
  font-size: 26px;
  color: #fff;

}

section .top_sec .date {
  width: 250px;
}

section .top_sec .date h4{
  font-size: 26px;
  color: #fff;
}