@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
  --font-family-main: "Cairo", sans-serif;
  --base-font-weight: 500;
  --heading-font-size: 26px;
  --main-color: #fff;
  --bg-color: #332a224e;
  --button-bg-color: #a54f3a;
  --border-color: #7d7d7d4e;
  --bg-text: #c0583e75;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family-main);
  font-weight: var(--base-font-weight);
}

html {
  direction: ltr;
}

section {
  background: url('assets/bg.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

section .container {
  width: 650px;
  background-color: var(--bg-color);
  padding: 30px 25px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  margin-left: 15%;
}

section .top_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border: 1px solid var(--border-color);
}

section .top_sec select {
  width: 250px;
  border-radius: 5px;
  outline: none;
  background: var(--button-bg-color);
  padding: 2px 10px;
  color: var(--main-color);
  font-size: 22px;
  margin-top: 10px;
}

section .top_sec h3 {
  font-size: var(--heading-font-size);
  color: var(--main-color);
}

section .top_sec .date {
  width: 250px;
}

section .top_sec .date h4 {
  font-size: var(--heading-font-size);
  color: var(--main-color);
}

section .prayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  background-color: var(--bg-text);
  margin-bottom: 25px;
  color: var(--main-color);
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid var(--border-color);

}